/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
    min-height: 100%;
    position: relative;
}

body {
    //background: url("https://ww3.sinaimg.cn/large/006tNc79gy1ff6zr9y4yoj31kw11v4bv.jpg")no-repeat scroll top center/cover;
 
    background: image_url('wall.jpeg')repeat scroll top center/ cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}



/*-------flash讯息----*/

.customed-flash {

    position: fixed;
    width: 100%;
    padding: 15px 20px 15px 20px;
    margin: 90px 0px 0px 0px; // 会将 flash 讯息往下移。
    z-index: 4;   // 可以覆盖在显示比较上的图层，便于关闭，值太低可能会被图片或视频等其它元素遮住
}

.alert {

    background: orange;
    opacity: 0.7;
    margin: 0;
    border-radius: 0;
    border: 0;
}

//---------导航------------
.navbar-inverse {
    
    background: linear-gradient(180deg, #212121, #0091EA);
    opacity: 0.69;
    border-color: #222222;
    margin-bottom: 0px;
    border-radius: 0;
    height: 50px;
    border: 0;
}

.navbar-inverse .navbar-brand {
    color: gold;
    &:hover {
    color: #fff;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: rgba(236, 47, 47, 0.69);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #258754;
    color: gold;
    &:hover {
    color: #fff;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: gold;
    &:hover {
    color: #fff;
    }
}



//----------footer------------
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;   //和正文容器的margin-bottom的参数一致，遥相呼应
    width: 100%;    //这个貌似不必写
    background: linear-gradient(135deg, #258754, #ea2727);
    opacity: 0.7;
    color: #000000;
}